@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
@import "../../styles/mixins.scss";

.section-projects {
  min-height: 500px;
  width: 100%;
  margin-top: 40px;
  position: relative;
  @include flexCenter;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;

  .text {
    position: absolute;
    top: -8px;
    filter: opacity(0.9);
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -170px;
      height: 1px;
      width: 150px;
      background: rgba(255, 255, 255, 0.15);
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -170px;
      height: 1px;
      width: 150px;
      background: rgba(255, 255, 255, 0.15);
    }
  }

  .project {
    @include flexCenter;
    justify-content: flex-start;
    height: 100px;
    padding: 10px;
    width: 350px;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 15px;
    transition: 0.15s;
    cursor: hover;
    text-decoration: none;
    color: white;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.5);
      background: rgba(255, 255, 255, 0.1);
    }

    .project__text {
      margin-left: 20px;
      white-space: nowrap;
      width: fit-content;
      font-style: italic;
      filter: opacity(0.9);
    }

    img {
      height: 100%;
    }
  }
}

@media (max-width: 500px) {
  .section-projects {
    .text {
      &::before {
        width: 75px;
        left: -95px;
      }
      &::after {
        width: 75px;

        right: -95px;
      }
    }
    .project {
      width: 85%;
      .project__text {
        white-space: normal;
      }
    }
  }
}
