@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import "../../styles/mixins.scss";

.main-section-header {
  @include flexCenter;
  height: 70px;
  background: hsla(0, 0%, 100%, 0.05);

  .text {
    transition: 1s cubic-bezier(0, 0.64, 0.2, 1);
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    transform: scale(0.7);
    margin: 0;
    .main {
      filter: opacity(0.75);
    }
    .bold {
      font-weight: 800;
      color: #7efff7;
      filter: opacity(1);
    }
    .code {
      color: #7efff7;
    }
  }
}

@media (max-width: 400px) {
  .section-header .text {
    font-size: 1rem;
  }
}
