@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import "../../styles/mixins.scss";

.section-header {
  @include flexCenter;
  height: 70px;
  background: hsla(0, 0%, 100%, 0.05);

  img {
    height: 30px;
    width: 30px;
    filter: invert(1) opacity(0.75);
  }

  .text {
    transition: 1.5s cubic-bezier(0, 0.64, 0.2, 1);
    position: relative;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    filter: opacity(0.75);
  }
}
