.wallpapers-section {
  opacity: 0;
  transition: 0.75s 0.1s cubic-bezier(0.45, 0.92, 0.45, 0.92);
  position: relative;
  top: 50px;

  margin: 50px auto;
  max-width: 800px;

  .wallpaper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img {
      border: 15px solid rgba(255, 255, 255, 0.05);
      width: 90%;
      margin-bottom: 30px;
    }
  }
}
